h1 {
    margin-left: 30px;
}

h2 {
    margin-left: 90px;
    font-size: 24pt;
}

#navigation {
    background-color: #239a8d;
    margin: 0 30px 0 30px;
    width: auto;
}

#blue {
    color: #239a8d;
}

div.card {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#beer {
    width: auto;
    height: 400px;
    margin: auto;
    padding: 20px 0 20px 0;
}
